.navigation{
    height: 80px;
    background-color: #1c2b35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;

}
.navigation a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: 36px;
}
.navigation a:hover{
    color: orangered;
    transition: all 0.3s ease;
}

